<div class="main-container">
    <div class="main-container-header">
        <img [src]="logo" alt="logo">
        <p>Zomato</p>
        <p>+180003456290</p>

    </div>
    <div class="main-container-body">
        <div>ABOUT ZOMATO</div>
        <div>   Who We Are
            
            Blog
            
            Work With Us
            
            Investor Relations
            
            Report Fraud
            
            Press Kit
            
            Contact Us
        </div>
    </div>

    
</div>
