.nav-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    height: 50px;
}